@charset "utf-8";

body {
  font-family: "Noto Serif JP", serif;
  font-family: "Noto Sans JP", sans-serif;
}
.topPage {
  width: 100%;
}

/* TOP画像切り替え */
.topSp {
  width: 100%;
  max-height: 480px;
  margin-bottom: 48px; 
  object-fit: cover;
}
.topPc {
  display: none;
}

header {
  position: fixed;
  height: 52px;
  background-color: #fff;
  width: 100%;
  z-index: 99;
  padding: 16px 12px;
}
main {
  margin: 0 auto;
}
.menu {
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  font-weight: 500;
}

/* --- ヘッダー box-shadow animation --- */
@keyframes scroll-anim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
  .headerShadow {
    animation: scroll-anim linear;
    animation-timeline: scroll();
    position: fixed;
    width: 100%;
    height: 52px;
    z-index: 98;
    box-shadow: 0 5px 8px -10px #333333;
  }


/* 共通 */
.sctionTitle {
  text-align: center;
  margin-bottom: 24px;
}
h2 {
  font-family: "Noto Serif JP", serif;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  text-align: center;
}
/* サブタイトル青ver */
.subTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .1em;
  color: #223E69;
  margin-top: 8px;
}
.sctionTitle .subTitle::before,
.sctionTitle .subTitle::after {
  content: "";
  display: inline-block;
  width: 60.5px;
  height: 1px;
  background-color: #223E69;
  margin: 0px 5px;
  vertical-align: middle;
}

/* サブタイトル赤ver */
.subTitleRed {
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .1em;
  color: #B71B26;
  margin-top: 8px;
}
.sctionTitle .subTitleRed::before,
.sctionTitle .subTitleRed::after {
  content: "";
  top: 80%;
  display: inline-block;
  width: 60.5px;
  height: 1px;
  background-color: #B71B26;
  margin: 0px 5px;
  vertical-align: middle;
}

/* サブタイトル黒ver */
.subTitleBrk {
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: .1em;
  color: #333333;
  margin-top: 8px;
}
.sctionTitle .subTitleBrk::before,
.sctionTitle .subTitleBrk::after {
  content: "";
  top: 80%;
  display: inline-block;
  width: 60.5px;
  height: 1px;
  background-color: #333333;
  margin: 0px 5px;
  vertical-align: middle;
}

/* リンク先　位置調整,スピード調整 */
.sctionLink {
  padding-top: 60px;
  margin-top: -60px;
}
html{
  scroll-behavior: smooth;
}


/* セクション別CSS */
#cont1, #cont2, #cont3, #cont4, #cont5 {
  position: relative;
  margin-bottom: 80px; /* SPセクション下余白 */
}
#cont1 {
  padding: 0 12px;
}
#cont1 .conceptText {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 28px;
  color: #333333;
}
#cont1 h3 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .1em;
  margin-bottom: 16px;
}
#cont2 {
  padding: 0 12px;
}
#cont2 h3 {
  font-family: "Noto Serif JP", serif;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .1em;
  margin-bottom: 8px;
}
#cont2 img {
  width: 100%; /* 画像の横幅追従 */
  margin-bottom: 8px;
} 
#cont2 .serviceArea {
  margin-bottom: 48px;
}
#cont2 .serviceText {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 21px;
  color: #333333;
}
#cont2 .moreBtn {
  position: relative;
  width: 100%;
  color: #333333;
  padding: 16px 10px;
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: .1em;
  font-weight: 400;
  text-align: right;
}
#cont2 .moreBtn a::after {
  content: "";
  margin: auto; /* 文字と並列してくれる　これがないと崩れる */
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #333333;
}
#cont2 .moreBtn a:hover {
  opacity: 0.7;
  transition: all 500ms ease-in-out 0ms;
}
#cont2 .moreBtn a:hover::after {
  transform: translateX(5px);
  transition: all 500ms ease-in-out 0ms;
}
.cont3Wrapper {
  background-color: rgba(34, 62, 105, 0.05);
  width: 100%;   /* 背景色を横幅いっぱいに指定したい */
  padding: 20px 0;
}
#cont3 .flowArea {
  margin: 0 auto;
  text-align: center;
}
#cont3 .flowArea .flowBox {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .1em;
  text-align: center;
  width: 80%;
  padding: 5px 10px;
  background-color: #333333;
  border-radius: 32px;
  position: relative;
  margin: 0 auto 30px;
}

/* ---フローSVG　色変更--- */
#cont3 .flowArea .flowBox::after {
  content: url(../images/arrow-red.svg);
  transform: scale(0.5) rotate(90deg) translateY(30px);
  transform-origin: center;
  position: absolute;
  top: 12px;
}
#cont3 .flowArea .flowBox:nth-child(1)::after {
  opacity: 0.6;
}
#cont3 .flowArea .flowBox:nth-child(2)::after {
  opacity: 0.7;
}
#cont3 .flowArea .flowBox:nth-child(3)::after {
  opacity: 0.8;
}
#cont3 .flowArea .flowBox:nth-child(4)::after {
  opacity: 0.9;
}
#cont3 .flowArea .flowBox:nth-child(6)::after {
  display: none;
}


#cont4 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 24px;
  padding: 0 12px;
}
.question {
  display: flex;
}
.questionSec {
  margin-bottom: 24px;
}
#cont4 .questionQ {
  background-color: #333333;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  padding: 5px 4px 6px 8px;
  margin-right: 10px;
  margin-bottom: 24px;
  text-align: center;
}
#cont4 .questionA {
  background-color: #B71B26;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto Serif JP", serif;
  text-transform: uppercase;
  padding: 5px 4px 4px 9px;
  margin-right: 10px;
  text-align: center;
}
#cont4 .qanda {
  margin: 8px;
}
.cont5Wrapper {
  background-color: rgba(34, 62, 105, 0.15);
  /* padding: 48px 0; */
  padding: 40px 0;
}
#cont5 form {
  text-align: center;
  width: 350px;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1em;
}
#cont5 .formBox {
  margin-bottom: 24px;
}
#cont5 .formQuestion {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .1em;
}
#cont5 .formAnswer {
  text-align: left;
}
#cont5 form span {
  margin-left: 5px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .1em;
  background-color: #B71B26;
  border-radius: 8px;
  color: #fff;
  padding: 1px 8px;
  vertical-align: middle;
}
input[type="text"],
input[type="email"],
textarea {
  background-color: #fff;
  width: 100%;
  height: 30px;
}
textarea {
  height: 120px;
}
#cont5 button {
  position: relative;
  color: #fff;
  background-color: #333333;
  padding: 16px 30px 16px 16px;
  margin-top: 24px;
  width: 220px;
  font-family: "Noto Serif JP", serif;
  font-size: 16px;
  letter-spacing: .1em;
  font-weight: 700;
}
#cont5 button::after {
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 9px solid #fff;
}
#cont5 button:hover {
  background-color: #B71B26;
  transition: all 500ms ease-in-out 0ms;
}
#cont5 button:hover::after {
  transform: translateX(5px);
  transition: all 500ms ease-in-out 0ms;
}
input[type="radio"] {
  margin-right: 10px;
}
.radioRight {
  margin-left: 20px;
}
.addressArea {
  display: flex;
  margin: -15px;
}
.addressArea .addressLeft {
  margin: 0 15px;
  text-align: left;
  align-items: center;
}
.addressArea .addressRight {
  width: 125px;
  margin: 20px 0 5px;
}

/* トップへ戻るボタンのスタイル */
.pageTop {
  position: relative;
}
.pageTop a {
  position: absolute;
  bottom: 0;
  right: 20px;
  display: inline-block;
  padding: 0;
  text-align: right;
  height: 46px;
  width: 46px;
  background-color: #333333;
}
.pageTop a:hover {
  background-color: #555555;
  transition: all 500ms ease-in-out 0ms;
}
.pageTop a::after {
  content: "";
  margin: auto;
  position: absolute; /* これがないと九の字にならない */
  bottom: 8px;
  right: 13px;
  width: 20px;
  height: 20px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(45deg);
}
.pageTop a:hover::after {
  transform: rotate(45deg) translateY(-5px) translateX(-5px); /* 全方向指定しないと上に動かない */
  transition: all 500ms ease-in-out 0ms;
}
footer {
  color: #fff;
  background-color: #333333;
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
  letter-spacing: .1em;
  font-weight: 500;
  text-align: center;
  padding: 20px;
}





@media screen and (max-width: 768px) {

  /* 以下に参考サイトのメニュー用CSSを貼り付ける */
  /* メニューを画面上部に固定表示しています */
  .gMenu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  /* メニューアイコンを画面右上に固定しています */
  .gMenu .menuIcon {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 16px;
    height: 12px;
  }
  /* メニューアイコン（三本線）の真ん中の線です */
  .gMenu .menuIcon .navIcon {
    background: #B71B26; /* 色は自由に変更可能です */
    display: block;
    height: 2px; /* 太さ */
    width: 31px; /* 長さ */
    position: relative;
    transition: background .4s ease-out; /* 形が変わる時のアニメーション */
  }
  /* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
  .gMenu .menuIcon .navIcon::before,
  .gMenu .menuIcon .navIcon::after {
    background: #B71B26; /* 色は自由に変更可能です */
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .4s ease-out; /* 形が変わる時のアニメーション */
    width: 100%;
  }
  .gMenu .menuIcon .navIcon::before {top: 10px;} /* 位置を上にずらしています */
  .gMenu .menuIcon .navIcon::after {top: -10px;} /* 位置を下にずらしています */
  /* 表示されるメニューです */
  .gMenu .menu {
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    max-height: 0; /* ★最初は高さを0にして非表示状態に */
    transition: max-height .6s; /* 表示されるときのアニメーション */
    text-align: center;
  }
  /* メニュー部分のデザインです */
  .gMenu .menu li:first-of-type {
    padding-top: 80px;
  }
  .gMenu .menu li:last-of-type {
    border-radius: 18px;
    margin: 0 40px 180px;
  }
  .gMenu .menu li a {
    display: block;
    padding: 24px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .gMenu .menu li a:hover {
    background-color: #f4f4f4;
  }
  /* チェックボックスは常に非表示です */
  .gMenu .menuBtn {
    display: none;
  }
  /* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
  .gMenu .menuBtn:checked ~ .menu {
    max-height: 532px; /* ★チェックボックスがオンの時高さを338pxにして表示させます */
    transition: max-height .6s;
  }
  /* メニューボタンの中央の線を非表示に */
  .gMenu .menuBtn:checked ~ .menuIcon .navIcon {background: transparent;}

  /* メニューボタンの上下の線を45度傾けて✕印を作ります */
  .gMenu .menuBtn:checked ~ .menuIcon .navIcon::before {transform: rotate(-45deg);top: 0;}
  .gMenu .menuBtn:checked ~ .menuIcon .navIcon::after {transform: rotate(45deg);top: 0;}
  /* サイトに合わせてオリジナルカスタマイズ */
  .gMenu .menuIcon {
    top: 26px;
  }
  .gMenu .menuIcon .navIcon,
  .gMenu .menuIcon .navIcon::before,
  .gMenu .menuIcon .navIcon::after {
    background: #B71B26;
  }

}


/* -----PC----- */


@media screen and (min-width: 768px) {

  .topPage {
    width: 100%;
  }


  /* --- PC　TOP画像　切り替え --- */
  .topPc {
    display: block;
    height: 545px;
    padding-top: 80px;
    margin-bottom: 160px;
  }
  .topSp {
    display: none;
  }

  /* リンク先　位置調整,スピード調整 */
  .sctionLink {
    padding-top: 120px;
    margin-top: -120px;
  }


  /* --- ヘッダー --- */
  header {
    position: fixed; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    height: 80px;
    padding: 24px;
    align-items: center;
  }
  #menuBtn, .menuBtn, .menuIcon, .navIcon {
    display: none;
  }
  .menu {
    display: flex;
    /* justify-content: space-between; */
  }
  .menu li {
    margin-left: 40px;
  }
  

/* --- ヘッダー box-shadow animation --- */
@keyframes scroll-anim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
  .headerShadow {
    animation: scroll-anim linear;
    animation-timeline: scroll();
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 98;
    box-shadow: 0 5px 8px -10px #333333;
  }



  h1 img {
    width: 400px;
  }
  h2 {
    font-size: 42px;
    font-weight: 700;
  }
  h3 {
    font-size: 28px;
    font-weight: 500;
  }
  .subTitle, .subTitleRed, .subTitleBrk {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
  }
  #cont1, #cont2, #cont4 {
    width: 1020px;
    margin: 80px auto; /*怪しい*/
  }
  #cont1 h3 {
    margin: 48px auto 24px;
  }
  #cont1 .conceptText {
    font-size: 16px;
    font-weight: 400;
  }
  #cont2 .serviceWrapper {
    display: flex;
  }
  #cont2 .serviceWrapper .serviceArea {
    margin-right: 60px;
  }
  #cont2 .serviceWrapper .serviceArea h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 24px;
  }
  #cont2 .serviceWrapper .serviceArea img {
    width: 300px;
    margin-bottom: 16px;
  }
  #cont2 .serviceText {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 24px;
    color: #333333;
  }
  #cont2 .moreBtn a {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .1em;
  }
  #cont3 .flowArea {
    writing-mode: vertical-lr;
  }
  #cont3 .flowArea .flowBox {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: .1em;
    height: 280px;
    margin-right: 112px;
  }
  #cont3 .flowArea .flowBox::after {
    transform: translate(0px, 100px);
    margin: 0 50px;
  }
  #cont3 .flowArea .flowBox:first-of-type {
    margin-left: 112px;
  }
  #cont4 .question p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  #cont4 .questionQ {
    padding: 2px 4px 10px 8px;
  }
  #cont4 .questionA {
    padding: 2px 4px 6px 9px;
  }
  #cont4 .qanda {
    margin-top: 22px;
  }
  #cont5 form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 48px 0;
    width: 1020px;
  }
  #cont5 .formBox {
    display: flex;
  }
  #cont5 .formBox .formQuestion {
    flex-basis: 35%;
    text-align: right;
    margin-right: 12px;
    font-size: 20px;
    font-weight: 700;
  }
  #cont5 .formBox .formAnswer {
    flex-basis: 45%;
    text-align: left;
  }
  #cont5 .formBox span {
    font-size: 16px;
    font-weight: 700;
    border-radius: 13px;
  }
  #cont5 form p {
    font-size: 20px;
    font-weight: 700;
  }
  #cont5 button {
    font-size: 20px;
    font-weight: 700;
    width: 300px;
    padding: 24px;
  }
  .pageTop a {
    position: absolute;
    bottom: 0;
    right: 20px;
    display: inline-block;
    padding: 0;
    text-align: right;
    height: 60px;
    width: 60px;
    background-color: #333333;
  }
  .pageTop a:hover {
    background-color: #555555;
    transition: all 500ms ease-in-out 0ms;
  }
  .pageTop a::after {
    content: "";
    margin: auto;
    position: absolute; /* これがないと九の字にならない */
    bottom: 10px;
    right: 18px;
    width: 25px;
    height: 25px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(45deg);
  }
  .pageTop a:hover::after {
    transform: rotate(45deg) translateY(-5px) translateX(-5px); /* 全方向指定しないと上に動かない */
    transition: all 500ms ease-in-out 0ms;
  }
  footer {
    font-size: 14px;
    font-weight: 500;
  }
}